click
cycler
Flask
fonttools
gunicorn
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
kmeans
MarkupSafe
matplotlib
numpy
packaging
Pillow
pyparsing
python-dateutil
scikit-learn
#scipy==1.8.1
scipy
six
sklearn
threadpoolctl
Werkzeug
zipp

